<?xml version="1.0"?>
<!--
/**
 * Product Name: Mage2 Force to Login
 * Module Name: Mage2_Login
 * Created By: Yogesh Shishangiya
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mage2_developer" translate="label" sortOrder="0">
            <label>Mage2 Developer</label>
        </tab>
        <section id="mage2_login_section" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Login Required</label>
            <tab>mage2_developer</tab>
            <resource>Mage2_Login::mage2_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
